<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="v1.0/ETC_DB">
	<select id="DANCING9_COMMENT">
		select  seq id, board_seq cid,user_id uid, user_name username,img_url p ,comment c , reg_dt rd from dancing9_board_comment with(nolock) where seq=#{ID}
	</select>
	<select id="SSK_COMMENT">
		select seq id, board_seq cid,user_id uid, user_name username,img_url p ,comment c , reg_dt rd from SSKDB.dbo.SSK5_BOARD_COMMENT with(nolock) where seq=#{ID};
	</select>    
</mapper>
