<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="v1.0/COOTOO_DB">
<select id="COOTOO_SELECT" resultType="hashmap">
 	<![CDATA[
  		select GOODS_NAME "title", COUPON_DISCOUNTS "discount" ,  'http://image.cootoo.co.kr'||WEB_LIST_IMG_PATH ||'/t'|| WEB_LIST_IMG_NAME  "photo" , a.goods_price "price" , brand_name "brand",
  		exchange_possible_days "duration",exchange_possible_enddate "finish" , a.regional_goods "region", goods_sale_type "saleType"
  		from goods a  left outer join biz_brand b on a.brand_id =b.brand_id   where goods_id=#{COOTOOID}
	]]>
	</select>
	<select id="TOP30_COOTOO_SELECT" resultType="hashmap">
 	<![CDATA[
  		select * from (
  		select goods_id "metaid", GOODS_NAME "title", COUPON_DISCOUNTS "discount" ,  'http://image.cootoo.co.kr'||WEB_LIST_IMG_PATH ||'/t'|| WEB_LIST_IMG_NAME  "photo" , a.goods_price "price" , brand_name "brand",
  		exchange_possible_days "duration",exchange_possible_enddate "finish" , a.regional_goods "region", goods_sale_type "saleType"
  		from goods a  left outer join biz_brand b on a.brand_id =b.brand_id  and a.is_valid='Y' and  valid_end_date > sysdate and valid_start_date < sysdate where   b.is_valid='Y'   order by a.approval_date desc ) where rownum < 30
	]]>
	</select>
	<select id="COOTOO_BY_CATEGORY_SELECT" resultType="hashmap">
 	<![CDATA[
 		select  CAT_ID "categoryId",CAT_NAME "categoryName"  from (
 			select CAT_ID,CAT_NAME ,rownum rnum from category where is_valid='Y' and (parent_cat_id='C114000000' or parent_cat_id='C124000000') and orderby > 1 order by cat_id asc
 		) z where  z.rnum > #{OFFSET} and rownum <= #{TOP}
    ]]>
	</select>
	<select id="COOTOO_BY_BRAND_SELECT" resultType="hashmap">
 	<![CDATA[
 		select brand_id "brandId", brand_name "brandName" ,logo_img_path "photo" from (
 			select brand_id , brand_name  ,logo_img_path  ,rownum rnum from biz_brand where is_VALID='Y'
 		) z where  z.rnum > #{OFFSET} and rownum <= #{TOP}
    ]]>
	</select>
	<select id="COOTOO_BY_PRICE_SELECT" resultType="hashmap">
 	<![CDATA[
 		select CAT_ID "categoryId",CAT_NAME "categoryName" from (
 			select CAT_ID ,CAT_NAME ,rownum rnum from category where is_valid='Y' and parent_cat_id='C115000000'
 		) z where  z.rnum > #{OFFSET} and rownum <= #{TOP}
    ]]>
	</select>
</mapper>
