<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="v1.0/LS_DB">
	<select id="TRYIT_LIST_SELECT" resultType="hashmap">
    <![CDATA[
    select * from (
    select cid "cid", p "p" , un "un" , usid "uid",to_char(rd,'YYYY-MM-DD HH24:MI:SS') "rd" , mid "mid" ,  mun "mun" , c "c" from (
		(select id cid, profile_image p , user_id un , member_manage_id usid,reg_date rd ,null mid , null mun , contents c 
		from try_snscomments  where tryit_id=#{ID} and comment_count=0 and reg_date < #{LAST_DATE})
	union 
		(
		select a.id cid, null p,  a.user_id un,  a.member_manage_id usid , a.reg_date rd , b.member_manage_id mid, b.user_id mun , a.contents c 
		from try_snsreplies a, try_snscomments b where b.tryit_id=#{ID} and b.comment_count > 0 and b.id =a.ref_id and a.reg_date < #{LAST_DATE})
	) order by rd desc ) where rownum < #{LIMIT}
	]]>
	</select>
	<select id="TRYIT_COUNT_SELECT" resultType="hashmap">
    <![CDATA[
    	select  comment_count  "count" from try_boards2 where id=#{ID}
	]]>
	</select>
	<select id="TRYIT_COMMENT_ALL_SELECT" resultType="hashmap">
    <![CDATA[
    select * from (
    select cid "cid", p "p" , un "un" , usid "uid",to_char(rd,'YYYY-MM-DD HH24:MI:SS') "rd" , mid "mid" ,  mun "mun" , c "c" from (
		(select id cid, profile_image p , user_id un , member_manage_id usid,reg_date rd ,null mid , null mun , contents c 
		from try_snscomments  where tryit_id=#{ID} and comment_count=0
	union 
		(
		select a.id cid, null p,  a.user_id un,  a.member_manage_id usid , a.reg_date rd , b.member_manage_id mid, b.user_id mun , a.contents c 
		from try_snsreplies a, try_snscomments b where b.tryit_id=#{ID} and b.comment_count > 0 and b.id =a.ref_id )
	) order by rd desc )
	]]>
	</select>
	<select id="USERTIP_BY_ID_SELECT" resultType="hashmap">
    <![CDATA[
    	select title "title", contents "contents", thumb_image "thumbnail", comment_count "commentCount", SYMPATHY_COUNT "likeCount", reg_date "regDate" from her_review_boards where id=#{ID}
	]]>
	</select>
	
	<select id="USERTIP_SELECT" resultType="hashmap">
    <![CDATA[
    	select  a.ID, a.thumb_image,a.title,b.subcategory ,a.reg_date,a.contents  from her_review_boards a, her_review_beauty b where a.id=b.ref_id  and b.is_battle='N' and b.is_exchange='Y' and a.is_success='Y' and a.is_delete='N'  order by  b.id asc
	]]>
	</select>

	<!--  MIG -->
	<select id="HER_REVIEW_BEAUTY_SELECT" resultType="hashmap">
	<![CDATA[
		select * FROM her_review_beauty where ref_id=#{ID}  
	]]>
	</select>
	
	<select id="HER_REVIEW_RECIPE_SELECT" resultType="hashmap">
	<![CDATA[
		select * FROM her_review_recipe where ref_id=#{ID} 
	]]>
	</select>

	<select id="REVIEW_CATEGORY_SELECT" resultType="hashmap">
	<![CDATA[
		select code ,value  from  cod_list where  ref_id is null
	]]>
	</select>


	<select id="HER_REVIEW_BOARD_BY_ID_SELECT" resultType="hashmap">
    <![CDATA[
       SELECT *
       FROM HER_REVIEW_BOARDS
       WHERE ID = #{ID} AND IS_DELETE='N' and IS_OPEN='Y'
	]]>
	</select>

	<select id="HER_COMMUNITY_BBS_ID_SELECT" resultType="hashmap">
    <![CDATA[
       SELECT *
       FROM HER_COMMUNITY_BBS
       WHERE ID = #{ID}
         AND IS_DELETE='N'
	]]>
	</select>

	<select id="TB_CBOARD_BY_ID_SELECT" resultType="hashmap">
    <![CDATA[
       SELECT *
       FROM TB_CBOARD
       WHERE BOARDINDEX = #{ID}
         AND DELFLAG = 'N'
         AND ISOPEN = 'Y'
	]]>
	</select>
    
	<select id="TLK_ENEWS_BY_ID_SELECT" resultType="hashmap">
    <![CDATA[
       SELECT *
       FROM TLK_ENEWS
       WHERE AID = #{ID}
         AND IS_DELETE = 'N'
	]]>
	</select>

	<select id="HER_POLL_BOARDS_BY_ID_SELECT" resultType="hashmap">
    <![CDATA[
        select *
        from HER_POLL_BOARDS
        where 
          ID = #{ID}
          and IS_OPEN='Y'
          and IS_DELETE='N'
	]]>
	</select>

	<select id="PHOTOTHEME_BY_ID_SELECT" resultType="hashmap">
    <![CDATA[
        select *
        from PHO_THEMES
        where 
          ID = #{ID}
          and IS_OPEN='Y'
          and IS_DELETE='N'
	]]>
	</select>

</mapper>
