<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="v1.0/LS_PROGRAM_DB">
	<select id="PROGRAM_META_SELECT" resultType="hashmap">
 	<![CDATA[
 		select TOP 1 a.programid, a.title,summary,onairtype onair, a.programId programDomain ,b.url, OnairalarmStart starttime,OnairAlarmEnd endtime ,b.skinlogoimage photo  , a.schedule1 schedule , c.channelName,c.channelCode, a.programseq,b.layoutCode
 		from pte_program a with(NOLOCK), pte_design b with(NOLOCK) , ptc_channel c  with(NOLOCK) where a.programSeq=#{PROGRAMID} and a.programseq=b.programseq 
 		and a.channelCode = c.channelCode  
    ]]>
	</select>
	<select id="PROGRAM_META_BY_PROGRAMID_SELECT" resultType="hashmap">
 	<![CDATA[
 		select TOP 1 a.programid, a.title,summary,onairtype onair, OnairalarmStart starttime,OnairAlarmEnd endtime ,b.skinlogoimage photo  , a.schedule1 schedule , c.channelName,c.channelCode, a.programseq
 		from pte_program a with(NOLOCK), pte_design b with(NOLOCK) , ptc_channel c  with(NOLOCK) where a.programid=#{PROGRAMID} and a.programseq=b.programseq 
 		and a.channelCode = c.channelCode  
    ]]>
	</select>
	<select id="PRIAVTE_PROGRAM_BY_CMS_ID_SELECT" resultType="hashmap">
 	<![CDATA[
 		select  programid,channelid  	from pte_program  a with(NOLOCK) , ptc_channel b  with(NOLOCK) where  cms_id=#{CMSID} and a.channelCode=b.channelCode 
    ]]>
	</select>
	<select id="CHANNEL_SELECT" resultType="hashmap">
 	<![CDATA[
 		select TOP ${TOP} channelCode,channelName,channelEngishName,channelid from (
			select  ROW_NUMBER() OVER(ORDER BY channelCode asc) as rownum , a.channelCode,a.channelName, a.ChannelEngname channelEngishName ,a.channelId   channelid 
			from ptc_channel a with(NOLOCK)   where channelCode not in ('CHL008','CHL009','CHL010','CHL051','CHL004')
		) a  where rownum > #{OFFSET}
 		
    ]]>
	</select>
	<select id="CHANNEL_INFO_SELECT" resultType="hashmap">
 	<![CDATA[
			select   channelCode,channelName, ChannelEngname channelEngishName ,channelId   channelid 
			from ptc_channel with(NOLOCK) where channelCode=#{CHANNELCODE}
 		
    ]]>
	</select>
	<select id="CHANNEL_PROGRAM_SELECT" resultType="hashmap">
 	<![CDATA[
 	select TOP ${TOP} layoutCode,url, programid,title,photo,programDomain,onair,summary from(
 		select ROW_NUMBER() OVER(ORDER BY a.programSeq desc) as rownum ,b.layoutCode,b.url, a.programSeq programid , a.title , b.profileImage photo , a.programId programDomain , onairtype onair ,summary
 		from pte_program a with(NOLOCK) 
 		left outer join pte_design b with(NOLOCK) 
 		 on  a.programSeq=b.programSeq  
 		where channelCode=#{CHANNELCODE} and onairtype=#{ONAIR} and UseType='Y' 
 		) z  where rownum > #{OFFSET}
    ]]>
	</select>
	<select id="CHANNEL_PROGRAM_ALL_SELECT" resultType="hashmap">
 	<![CDATA[
 		select TOP ${TOP} layoutCode,url, programid,title,photo,programDomain,onair,summary  from(
 		select ROW_NUMBER() OVER(ORDER BY a.programSeq desc) as rownum ,b.layoutCode,b.url,a.programSeq programid , a.title , b.profileImage photo , a.programId programDomain, onairtype onair,summary 
 		from pte_program a with(NOLOCK) 
 		left outer join pte_design b with(NOLOCK) 
 		 on  a.programSeq=b.programSeq  
 		where channelCode=#{CHANNELCODE} and UseType='Y' 
 		) z  where rownum > #{OFFSET}
    ]]>
	</select>
	<select id="PROGRAM_CHANNEL_BY_PROGRAMSEQ_SELECT" resultType="hashmap">
 	<![CDATA[
 	select * from pte_program a  with(nolock) , ptc_channel b with(nolock)  where programSeq=#{PROGRAMSEQ} and a.channelCode=b.ChannelCode and  a.usetype='Y'
    ]]>
	</select>
	
	<select id="PROGRAM_TOP30_SELECT" resultType="hashmap">
 	<![CDATA[
 		select TOP ${TOP} * from (
 			select  ROW_NUMBER() OVER(ORDER BY a.createDate desc) as rownum ,a.programSeq,a.programid, a.title,b.skinlogoimage photo   , c.channelName,a.cms_id
			from pte_program a with(NOLOCK), pte_design b with(NOLOCK) , ptc_channel c  with(NOLOCK) 
			where  a.programseq=b.programseq  and programid is not null  
 			and a.channelCode = c.channelCode and  a.onairType='Y' and  a.usetype='Y'
		) a  where rownum > #{OFFSET}
    ]]>
	</select>
	
	
	<select id="PTE_AUTH_USER_SELECT" resultType="hashmap">
 	<![CDATA[
 		select   authLevel  from PTE_AUTH_USER  with(nolock) where MemberManageId =#{ID} and UseYn='Y'  
    ]]>
	</select>
	
	<select id="PTE_AUTH_MENU_SELECT" resultType="hashmap">
 	<![CDATA[
 		select  1 y  from PTE_AUTH_MENU  with(nolock) where   ProgramSeq=#{ProgramSeq} and MenuSeq =#{MenuSeq} and    MemberManageId =#{ID}   
    ]]>
	</select>
	
	
	<select id="PTS_BOARD_BY_ID_SELECT" resultType="hashmap">
 	<![CDATA[
 		select * from PTS_BOARD with(nolock) where ProgramSeq = #{ProgramSeq} and MenuSeq = #{MenuSeq} and BoardSeq = #{BoardSeq}
 		and DeleteYN='N' and ViolationYN='N'  
    ]]>
	</select>

	<select id="BOARD_NAME_BY_ID_SELECT" resultType="hashmap">
	<![CDATA[
		select Title from PTE_MENU with(nolock)  where ProgramSeq=#{ProgramSeq} and MenuSeq=#{MenuSeq} and usetype='Y' and viewtype in ('A','W') and authlevelread='0'
	]]>
	</select>

	<select id="PTE_DESIGN_BY_ID_SELECT" resultType="hashmap">
	<![CDATA[
		select a.programSeq, a.programid, a.title, b.skinlogoimage photo, c.channelName, a.cms_id
		from pte_program a with(NOLOCK), pte_design b with(NOLOCK) , ptc_channel c  with(NOLOCK) 
		where a.programseq=b.programseq
		  and programid is not null  
		  and a.channelCode = c.channelCode 
		  and a.onairType='Y' and a.usetype='Y'
		  and a.programseq = #{PROGRAMSEQ}	
	]]>
	</select>	 
</mapper>
