<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="v1.0/LS_SNS_DB">
	<select id="LIST_SELECT" resultType="hashmap">
 	<![CDATA[
 	select top ${LIMIT} a.seq cid ,a.un,a.ui uid,a.contents c,a.registerDate rd,a.mid,a.mun,a.profileImage p from ( 
	 	select  seq,suid un , CASE WHEN SUMMID ='' THEN FUID ELSE SUMMID END ui ,ProfileImage,Contents, RegisterDate, null mid,null mun 
    from SNSPosts  with(NOLOCK) where pageid=#{ID}   and registerDate < #{LAST_DATE}
		union all
 		select  a.seq,a.suname,a.summid,null,a.Contents,a.registerDate,CASE WHEN b.SUMMID ='' THEN b.FUID ELSE b.SUMMID END mid ,CASE WHEN b.SUNAME =''  THEN b.FUname ELSE b.SUNAME END mun 
    from SNSReplies a  with(NOLOCK), SNSPosts b   with(NOLOCK) where a.pageid=#{ID}  and a.pageid=b.pageid and pseq=b.seq  and a.registerDate < #{LAST_DATE}
	) a order by a.registerDate desc

    ]]>
	</select>
	<select id="COUNT_SELECT" resultType="hashmap">
 	<![CDATA[
 	select sum(c+r) as count from(
		select   count(*) c ,sum(replyCount) r
    	from SNSPosts  with(NOLOCK) where pageid=#{ID} )a

    ]]>
	</select>
	<select id="COMMENT_ALL_SELECT" resultType="hashmap">
 	<![CDATA[
 	select  a.seq cid ,a.un,a.ui,a.contents c,a.registerDate rd,a.mid,a.mun,a.profileImage p from ( 
	 	select  seq,suid un , CASE WHEN SUMMID ='' THEN FUID ELSE SUMMID END ui ,ProfileImage,Contents, RegisterDate, null mid,null mun 
    	from SNSPosts  with(NOLOCK) where pageid=#{ID}   
		union all
 		select  a.seq,a.suname,a.summid,null,a.Contents,a.registerDate,CASE WHEN b.SUMMID ='' THEN b.FUID ELSE b.SUMMID END mid ,CASE WHEN b.SUNAME =''  THEN b.FUname ELSE b.SUNAME END mun 
    from SNSReplies a  with(NOLOCK), SNSPosts b   with(NOLOCK) where a.pageid=#{ID}  and a.pageid=b.pageid and pseq=b.seq 
	) a order by a.registerDate desc

    ]]>
	</select>
	
</mapper>
